.title-2{
    font-size: medium;
    color: black;
    margin-top: 10px;
}

.title-3{
    font-size: medium;
    color: black;
    margin-top: 15px;
}

.content-2{
    font-size: small;
    color:rgb(65, 64, 64);
}

.form-detail{
    overflow: hidden;
  }

/* Dashed red border */
hr{
    border-top: 1px solid red;
  }