<div class="container my-5">
  <div class="col-12 text-right mb-3">
    <button mat-raised-button class="material-cust-medium-button"type="button" color="accent" (click)="openAddForm()">Adicionar Produto</button>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="alert alert-danger" [hidden]="!hasError">
        {{ errorMessage }}
      </div>
      <div class="alert alert-success" [hidden]="!success">
        {{ errorMessage }}
      </div>
    </div>
    <div class="col">
      <table class="table table-bordered">
        <thead class="bg-dark text-light">
        <tr>
          <th width="20%">Produto</th>
          <th width="40%">Descricao</th>
          <th>Preco</th>
          <th>Categoria</th>
          <th>Operacao</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let p of products">
          <td>{{ p.title }}</td>
          <td>{{ p.description }}</td>
          <td>{{ p.price | currency:'BRL' }}</td>
          <td>{{ p.cat }}</td>
          <td>
            <div class="btn-toolbar">
              <button class="btn btn-sm btn-danger mr-3" (click)="deleteProduct(p.id)">Delete</button>
              <button class="btn btn-sm btn-primary mr-3" (click)="openEditForm(p.id)">Editar</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
